{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh's</title>
</head>
<body class="bg-gradient-to-bl from-slate-900 via-purple-900 to-slate-900 ">
    <h1 class="bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-fuchsia-600 via-fuchsia-400 to-fuchsia-200 m-5 rounded-lg text-center p-4 font-serif text-5xl italic mb-20 mt-20">Harsh's BLOGS</h1>
    {% for b in blogs %}
    <div class="blog-item bg-slate-200 flex justify-between font-mono p-4 m-5 rounded-lg">
            <a href="{% url 'blog_detail' b.id %}" class="text-3xl hover:underline">{{ b.title }}</a>
    <div>
        <span class="text-xl float-end font-mono">{{ b.date_added }}</span>
    </div>
  </div>
  {% endfor %}
  <div class="flex justify-center">
    <a href=".." class="bg-slate-200 text-black font-semibold p-4 rounded-lg hover:animate-pulse text-center">Back to HOME</a>
</div>


</body>
</html>