{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh's</title>
</head>
<body class="bg-gradient-to-bl from-slate-900 via-purple-900 to-slate-900 ">
    <h1 class="bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-fuchsia-600 via-fuchsia-400 to-fuchsia-200 m-5 rounded-lg text-center p-4 font-serif text-5xl italic mb-20 mt-20">Harsh's</h1>
    <h3 class="m-5 rounded-lg mt-10 text-2xl font-sans bg-gradient-to-bl from-rose-100 to-teal-100 text-center p-4">
        <a href="/about/" class="hover:animate-pulse hover:underline font-semibold">ABOUT 👨‍🎓</a>
    </h3>
    <h3 class="m-5 mt-10 rounded-lg text-2xl font-sans bg-gradient-to-bl from-rose-100 to-teal-100 text-center p-4">
        <a href="/blogs/" class="hover:animate-pulse hover:underline font-semibold">BLOGS ✍</a>
    </h3>
    <h3 class="m-5 mt-10 text-2xl rounded-lg font-sans bg-gradient-to-bl from-rose-100 to-teal-100 text-center p-4">
        <a href="/contact/" class="hover:animate-pulse hover:underline font-semibold">CONTACT 📧</a>
    </h3>
    <h3 class="m-5 mt-10 text-2xl rounded-lg font-sans bg-gradient-to-bl from-rose-100 to-teal-100 text-center p-4">
        <a href="/support/" class="hover:animate-pulse hover:underline font-semibold">SUPPORT 💸</a>
    </h3>
</body>
</html>